<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="API Test Suite">
            <directory>catalog/controller/api/</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="On"/>
        <ini name="error_reporting" value="-1"/>
        <const name="HTTP_SERVER" value="http://localhost/" />
        <const name="HTTPS_SERVER" value="https://localhost/" />
    </php>
</phpunit>
